<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
</p>

<div class="videoWrapper">
  <iframe allowfullscreen
          height="315"
          width="560"
          src="https://www.youtube.com/embed/ScMzIvxBSi4?autoplay=0"
          tabindex="0"
  ></iframe>
</div>
