<div mat-dialog-content>
  <!--Tags-->
  <h2 class="oldtypo-h2">{{'room-page.tags' | translate }}</h2>

  <div fxLayout="column">
    <div fxLayout="row">
      <mat-form-field class="input-block">
        <input appAccessibilityEscapedInput
               matInput
               type="text"
               #tag
               aria-labelledby="tag-new"
               [formControl]="tagFormControl"
               name="taginput"
               maxlength="20"/>
        <mat-placeholder class="placeholder">{{ 'room-page.tag-new' | translate }}</mat-placeholder>
        <mat-hint align="end"><span aria-hidden="true">{{tag.value.length}} / 20</span></mat-hint>
        <mat-error *ngIf="!tagFormControl.valid">
          {{ 'room-page.tag-error' | translate }}
        </mat-error>
      </mat-form-field>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button
              class="add"
              (click)="addTag(tag.value);"
              aria-labelledby="add-tag">
        <mat-icon class="add-icon">add</mat-icon>
      </button>
      <span class="fill-remaining-space"></span>
    </div>
    <div *ngIf="tags.length > 0">
      <div
        fxLayout="row"
        *ngFor="let tag of tags"
        class="tags">
        <!--tag list-->
        <p class="oldtypo-p">
          {{tag}}
        </p>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button
                class="close"
                (click)="deleteTag(tag)"
                aria-labelledby="delete-tag">
          <mat-icon class="close-icon">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<app-dialog-action-buttons
  buttonsLabelSection="room-page"
  confirmButtonLabel="update"
  [confirmButtonClickAction]="buildSaveActionCallback()"
></app-dialog-action-buttons>
