.main-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 110px);
}

mat-card {
  background-color: var(--surface);
  color: var(--on-surface) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  > p {
    margin: 2.5em;
  }
}
