<div mat-dialog-content
     *ngIf="editRoom">
  <!--Sitzung-->
  <h2 class="oldtypo-h2">{{ 'room-page.general' | translate }}</h2>

  <div fxLayout="column">
    <mat-form-field class="input-block">
      <input appAccessibilityEscapedInput
             [(ngModel)]="editRoom.name"
             matInput
             [formControl]="roomNameFormControl"
             name="room-name"
             maxlength="30"
             aria-labelledby="room-name"/>
      <mat-placeholder class="placeholder">{{ 'session.session-name' | translate }}</mat-placeholder>
      <mat-hint align="end"><span aria-hidden="true">{{ editRoom.name.length }} / 20</span></mat-hint>
      <mat-error *ngIf="
          roomNameFormControl.hasError()
          || roomNameFormControl.hasError('minlength')
          || roomNameFormControl.hasError('maxlength')">
        {{ 'room-page.name-length-error' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-tab-group>
      <mat-tab label="{{'room-page.description' | translate}}">
        <mat-form-field class="input-block">
      <textarea
        appAccessibilityEscapedInput
        [(ngModel)]="editRoom.description"
        matInput
        matTextareaAutosize
        matAutosizeMinRows="2"
        matAutosizeMaxRows="5"
        maxlength="500"
        name="description"
        aria-labelledby="description"
      ></textarea>
          <mat-hint align="end">
            <span aria-hidden="true">
              {{ editRoom.description ? editRoom.description.length : 0 }} / 500
            </span>
          </mat-hint>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="{{'session.preview' | translate}}"
               [disabled]="!editRoom.description">
        <app-view-comment-data class="images" [currentData]="editRoom.description"></app-view-comment-data>
      </mat-tab>
    </mat-tab-group>
    <div fxLayout="column">
      <mat-slide-toggle [(ngModel)]= "check">{{ 'room-page.block' | translate }}</mat-slide-toggle>
    </div>
    <div fxLayout="column">
      <mat-slide-toggle (change)="showMessage('words-will-be-overwritten', $event.checked)" [(ngModel)]= "profanityCheck">
        {{ 'room-page.profanity-filter' | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle *ngIf="profanityCheck" (change)="showMessage('only-specific-language-will-be-filtered', $event.checked)" [(ngModel)]= "censorLanguageSpecificCheck">
        {{ 'room-page.language-specific-filter' | translate }}
      </mat-slide-toggle>
      <mat-slide-toggle *ngIf="profanityCheck" (change)="showMessage('partial-words-will-be-filtered', $event.checked)" [(ngModel)]= "censorPartialWordsCheck">
        {{ 'room-page.partial-words-filter' | translate }}
      </mat-slide-toggle>
    </div>
    <div fxLayoutAlign="center center">
      <!-- <input type="checkbox" id= "myCheck" [(ngModel)]= "check" > -->
   <!-- <mat-label for="myCheck" ><mat-icon>block</mat-icon>{{ 'room-page.block' | translate }} </mat-label> -->

      <button mat-raised-button
              class="delete"
              (click)="openDeleteRoomDialog()"
              aria-labelledby="delete-room">
        <mat-icon class="material-icons-outlined">delete</mat-icon>
        {{ 'room-page.delete-room' | translate }}</button>

    </div>
  </div>
</div>

<app-dialog-action-buttons
  buttonsLabelSection="room-page"
  confirmButtonLabel="update"

  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildSaveActionCallback()"
></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="room-name">{{ 'room-page.a11y-room-name' | translate }}</div>
  <div id="room-edit-description">{{ 'session.a11y-description' | translate }}</div>
  <div id="delete-room">{{ 'room-page.a11y-delete-room' | translate }}</div>
</div>
