<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row
    [ngClass]="{'mat-toolbar-moderation': router.url.endsWith('/moderator/comments')}">

    <button id="back-button"
            mat-icon-button
            aria-labelledby="back-label"
            *ngIf="router.url !== '/home'"
            (click)="goBack()">
      <mat-icon class="header-icons">arrow_back</mat-icon>
    </button>

    <button id="tour-button"
            mat-button
            aria-labelledby="tour-label"
            class="focus_button"
            *ngIf="router.url.endsWith('/home') && !deviceInfo.isSafari"
            (click)="startTour()">
      <mat-icon class="header-icons material-icons-outlined">tour</mat-icon>
      <span *ngIf="deviceInfo.isCurrentlyDesktop">
        {{ 'header.tour' | translate }}
      </span>
    </button>

    <div class="header-content-container"
         [ngClass]="{'darken': themeService.currentTheme.isDark}">

      <button mat-flat-button
              tabindex="0"
              *ngIf="!router.url.endsWith('moderator/comments') && router.url.endsWith('/comments') &&
                     deviceInfo.isCurrentlyDesktop"
              routerLink="quiz">
        <mat-icon class="material-icons-outlined"
                  style="margin-right: 5px">emoji_events
        </mat-icon>
        <span>{{'header.quiz-now' | translate}}</span>
      </button>

      <button mat-flat-button
              tabindex="0"
              *ngIf="!router.url.endsWith('moderator/comments') && router.url.endsWith('/comments') &&
                     deviceInfo.isCurrentlyDesktop && ((tagCloudDataService.currentData?.size || 0) > 0)"
              (click)="navigateTopicCloud()">
        <mat-icon style="margin-right: 5px">tag</mat-icon>
        <span>{{'header.tag-cloud' | translate}}</span>
      </button>

      <button mat-flat-button
              tabindex="0"
              *ngIf="!router.url.endsWith('moderator/comments') && router.url.endsWith('/comments') &&
                     deviceInfo.isCurrentlyDesktop && (!!room?.brainstormingSession || userRole > 0)"
              (click)="navigateBrainstorming()">
        <mat-icon class="material-icons-outlined"
                  style="margin-right: 5px">tips_and_updates
        </mat-icon>
        <span>{{'header.brainstorming' | translate}}</span>
      </button>

      <div *ngIf="toggleUserActivity">
        <div class="userActivityIcon"
             matTooltip="{{'header.users-online' | translate}}"></div>
        <p class="userActivityTxt">{{userActivity}}</p>
      </div>

      <div *ngIf="room?.brainstormingSession?.active">
        <mat-icon class="material-icons-outlined"
                  style="color: green; margin-top: 8px"
                  [matTooltip]="'header.brainstorm-active' | translate">
          tips_and_updates
        </mat-icon>
      </div>

      <span *ngIf="isInRouteWithRoles && userRole !== null && user && user.role !== userRole">
        <mat-icon class="material-icons-outlined"
                  style="color: var(--red); margin-top: 8px"
                  [matTooltip]="'header.not-in-own-view' | translate">
          group
        </mat-icon>
      </span>

      <h2 class="oldtypo-h2"
          *ngIf="router.url.endsWith('/moderator/comments') && deviceInfo.isCurrentlyDesktop">
        {{'header.moderation-warning'|translate}}
      </h2>

      <div *ngIf="hasEmailNotifications && router.url.endsWith('/room/' + sessionService.currentRoom?.shortId)">
        <mat-icon class="material-icons-outlined"
                  style="color: red; margin-top: 8px"
                  [matTooltip]="'header.active-email-notification' | translate">
          email
        </mat-icon>
      </div>

      <span
        *ngIf="room && !room.directSend && router.url.includes('comments')"
        class="moderation-enabled"
        fxLayoutAlign="center center">
        <mat-icon class="material-icons-round"
                  style="color: var(--red)"
                  matTooltip="{{ 'header.moderation-enabled' | translate }}">
          gavel
        </mat-icon>
      </span>

      <!--Feedback im Hörsaal-->
      <h2 class="header-slogan-mobile"
          *ngIf="router.url.includes('home') && deviceInfo.isCurrentlyMobile && !deviceInfo.isSafari"
          fxLayoutAlign="center center">
        {{ 'header.home-header-mobile' | translate }}
      </h2>

      <h2 class="header-slogan-mobile-safari"
          *ngIf="router.url.includes('home') && deviceInfo.isCurrentlyMobile && deviceInfo.isSafari"
          fxLayoutAlign="center center">
        {{ 'header.home-header-mobile' | translate }}
      </h2>

      <h2 class="header-slogan-desktop"
          *ngIf="router.url.includes('home') && deviceInfo.isCurrentlyDesktop && !deviceInfo.isSafari"
          fxLayoutAlign="center center">
        {{ 'header.home-header' | translate }}
      </h2>

      <h2 class="header-slogan-desktop-safari"
          *ngIf="router.url.includes('home') && deviceInfo.isCurrentlyDesktop && deviceInfo.isSafari"
          fxLayoutAlign="center center">
        {{ 'header.home-header' | translate }}
      </h2>

      <span *ngIf="room && room.questionsBlocked">
        <mat-icon class="material-icons-outlined"
                  style="color: var(--red); margin-top: 8px"
                  [matTooltip]="'header.questions-blocked' | translate">
          comments_disabled
        </mat-icon>
      </span>

      <button mat-flat-button
              tabindex="0"
              *ngIf="deviceInfo.isCurrentlyDesktop &&
              !router.url.endsWith('moderator/comments') &&
              router.url.endsWith('/comments') &&
              !deviceInfo.isSafari"
              routerLink="participant/room/{{room?.shortId}}/comments/questionwall">
        <mat-icon class="beamer-icon"
                  svgIcon="beamer"></mat-icon>
        <span>{{'header.questionwall' | translate}}</span>
      </button>

      <h2 class="oldtypo-h2"
          *ngIf="deviceInfo.isCurrentlyDesktop && router.url !== '/home'">
        {{cTime}}
      </h2>

      <!--Topic Cloud-->
      <div class="topic-cloud-btns"
           *ngIf="router.url.includes('tagcloud')"
           ars-flex-box>
        <ars-col>
          <button mat-icon-button
                  disableRipple="true"
                  *ngIf="isAdminConfigEnabled"
                  class="pseudo-button"
                  matTooltip="{{'header.overview-admin-config-enabled' | translate}}">
            <mat-icon class="oldtypo-h2 comment_tag-icon"
                      style="color: var(--red) !important; font-size: 24px !important; margin-top: -8px;">
              tag
            </mat-icon>
          </button>
          <button mat-icon-button
                  disableRipple="true"
                  class="pseudo-button"
                  matTooltip="{{'header.overview-question-tooltip' | translate}}">
            <mat-icon class="oldtypo-h2 comment_tag-icon">comment</mat-icon>
            <span style="margin-left: 0.2em;">{{commentsCountQuestions}}</span>
          </button>
          <button mat-icon-button
                  disableRipple="true"
                  class="pseudo-button"
                  matTooltip="{{'header.overview-questioners-tooltip' | translate}}">
            <mat-icon class="oldtypo-h2 comment_tag-icon">person</mat-icon>
            <span style="margin-left: 0.1em;">{{commentsCountUsers}}</span>
          </button>
          <button mat-icon-button
                  disableRipple="true"
                  class="pseudo-button"
                  matTooltip="{{'header.overview-keywords-tooltip' | translate}}">
            <mat-icon
                      class="oldtypo-h2 comment_tag-icon">tag</mat-icon>
            <span style="margin-left: 0.1em;">{{commentsCountKeywords}}</span>
          </button>
        </ars-col>
      </div>
    </div>

    <mat-menu #userMenu="matMenu"
              [overlapTrigger]="false">
      <!--      <p class="mat-menu-inner-title">Account</p>-->

      <div class="mat-menu-inner-box">

        <ng-container arsComposeHost></ng-container>

      </div>

      <!-- General Options -->

      <button mat-menu-item
              *ngIf="isInRouteWithRoles && user && user.role > 0"
              (click)="navigateToOtherView()"
              tabindex="0">
        <mat-icon *ngIf="user && user.role === 3 && userRole !== user.role"
                  class="material-icons-outlined">co_present
        </mat-icon>
        <mat-icon *ngIf="user && user.role === 2 && userRole !== user.role"
                  class="material-icons-round">gavel
        </mat-icon>
        <mat-icon *ngIf="userRole === user.role"
                  class="material-icons-outlined">group
        </mat-icon>
        <span *ngIf="userRole === user.role">{{'header.regular-user-view' | translate}}</span>
        <span *ngIf="userRole !== user.role">{{'header.own-view' | translate}}</span>
      </button>

      <button mat-menu-item
              *ngIf="userRole === 0 && !router.url.endsWith('/tagcloud') && !router.url.endsWith('/quiz')"
              (click)="openUserBonusTokenDialog()"
              tabindex="0">
        <mat-icon class="star material-icons-round">grade</mat-icon>
        <span>{{'header.user-bonus-token' | translate}}</span>
      </button>


      <ng-container *ngIf="router.url.endsWith('/comments') || router.url.endsWith('/tagcloud')">

        <button mat-menu-item
                *ngIf="userRole === 0"
                tabindex="0"
                routerLink="participant/room/{{room?.shortId}}">
          <mat-icon>
            checkroom
          </mat-icon>
          <span>{{'header.back-to-room' | translate}}</span>
        </button>

        <button mat-menu-item
                *ngIf="userRole === 3"
                tabindex="0"
                routerLink="creator/room/{{room?.shortId}}">
          <mat-icon class="material-icons-outlined">
            settings
          </mat-icon>
          <span>{{'header.back-to-room-creator' | translate}}</span>
        </button>

        <button mat-menu-item
                *ngIf="userRole === 2"
                tabindex="0"
                routerLink="moderator/room/{{room?.shortId}}">
          <mat-icon class="material-icons-outlined">
            settings
          </mat-icon>
          <span>{{'header.back-to-room-moderator' | translate}}</span>
        </button>

      </ng-container>

      <button mat-menu-item
              *ngIf="user && router.url.endsWith('/quiz')"
              tabindex="0"
              (click)="navigateQuestionBoard()">
        <mat-icon class="header-icons material-icons-outlined">forum</mat-icon>
        <span>{{'header.back-to-questionboard' | translate}}</span>
      </button>

      <button mat-menu-item
              *ngIf="user && !router.url.endsWith('/user')"
              routerLink="/user"
              tabindex="0">
        <mat-icon
          class="sessions material-icons-outlined">door_front
        </mat-icon>
        <span *ngIf="!user.isGuest">{{'header.my-sessions' | translate}}</span>
        <span *ngIf="user.isGuest"
              svgIcon="meeting_room">{{'header.visited-sessions' | translate}}</span>
      </button>

      <button mat-menu-item
              aria-hidden="true"
              *ngIf="!deviceInfo.isSafari && !router.url.includes('home')  && !router.url.endsWith('/quiz')"
              (click)="getRescale().toggleState();">
        <mat-icon class="fullscreen"
                  (click)="getRescale().toggleState();">text_increase
        </mat-icon>
        <span>{{'header.fullscreen' | translate}}</span>
      </button>

      <button mat-menu-item
              *ngIf="user"
              (click)="showMotdDialog()">
        <mat-icon class="faq material-icons-outlined">
          {{ motdState ? 'notifications_active' : 'campaign' }}
        </mat-icon>
        <span>{{'header.motd' | translate}}</span>
      </button>


      <button mat-menu-item
              *ngIf="user && !user.isGuest && user.loginId && router.url.endsWith('/user')"
              (click)="openDeleteUserDialog()"
              tabindex="0">
        <mat-icon class="color-warn material-icons-outlined">delete</mat-icon>
        <span>{{'header.delete-account' | translate}}</span>
      </button>

      <button mat-menu-item
              (click)="logout()"
              tabindex="0">
        <mat-icon class="color-warn">logout</mat-icon>
        <span>{{ 'header.logout' | translate }}</span>
      </button>

    </mat-menu>

    <ng-template #optionContent>
      <div class="label-icon">
        <mat-icon *ngIf="user.isGuest"
                  class="header-icons material-icons-filled color-warn"
                  style="margin-right: 5px"
                  [matTooltip]="'header.guest-account-tooltip' | translate">
          priority_high
        </mat-icon>
        <mat-icon
          *ngIf="this.router.url.indexOf('/room/') > 0"
          class="header-icons material-icons-outlined"
          [matTooltip]="'header.' + getCurrentRoleDescription() | translate">
          {{getCurrentRoleIcon()}}
        </mat-icon>
        <h2 style="margin-left: 10px; color: var(--on-surface)"
            *ngIf="deviceInfo.isCurrentlyDesktop">{{'header.my-account' | translate}}</h2>
        <mat-icon class="header-icons">
          more_vert
        </mat-icon>
      </div>
    </ng-template>

    <button [disabled]="cookiesDisabled()"
            mat-button
            [joyrideStep]="'optionHeader'"
            [stepPosition]="'center'"
            appJoyrideTemplate
            *ngIf="user && deviceInfo.isCurrentlyDesktop"
            [matMenuTriggerFor]="userMenu"
            aria-labelledby="session-label"
            id="session-button">
      <ng-container [ngTemplateOutlet]="optionContent"></ng-container>
    </button>

    <button [disabled]="cookiesDisabled()"
            mat-icon-button
            [joyrideStep]="'optionHeader'"
            [stepPosition]="'center'"
            appJoyrideTemplate
            *ngIf="user && deviceInfo.isCurrentlyMobile"
            [matMenuTriggerFor]="userMenu"
            aria-labelledby="session-label">
      <ng-container [ngTemplateOutlet]="optionContent"></ng-container>
    </button>

    <ng-template #loginBtnContent>
      <div class="label-icon">
        <mat-icon class="header-icons"
                  style="padding-right: 10px">
          login
        </mat-icon>
        <h2 class="oldtypo-h2"
            *ngIf="deviceInfo.isCurrentlyDesktop">{{'header.login' | translate}}</h2>
      </div>
    </ng-template>

    <button id="login-button"
            [disabled]="cookiesDisabled()"
            mat-button
            [joyrideStep]="'loginButtonHeader'"
            [stepPosition]="'center'"
            appJoyrideTemplate
            *ngIf="!user && deviceInfo.isCurrentlyDesktop"
            (click)=login(false)
            aria-labelledby="login-label">
      <ng-container [ngTemplateOutlet]="loginBtnContent"></ng-container>
    </button>

    <button [disabled]="cookiesDisabled()"
            mat-icon-button
            [joyrideStep]="'loginButtonHeader'"
            [stepPosition]="'center'"
            appJoyrideTemplate
            *ngIf="!user && deviceInfo.isCurrentlyMobile"
            (click)=login(false)
            aria-labelledby="login-label">
      <ng-container [ngTemplateOutlet]="loginBtnContent"></ng-container>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="visually-hidden">
  <div id="login-label">{{'header.accessibility-login' | translate}}</div>
  <div id="back-label">{{'header.accessibility-back' | translate}}</div>
  <div id="tour-label">{{'header.accessibility-tour' | translate}}</div>
  <div id="session-label">{{'header.accessibility-session' | translate}}</div>
</div>
