.app-title {
  cursor: pointer;
  margin: 0 auto;
  color: var(--on-surface);
}

mat-toolbar {
  background-color: var(--background);
  position: relative;

  &:first-child {
    padding-left: 5px;
  }
}

.mat-toolbar-moderation {
  background-color: var(--moderator);
  position: relative;
}

mat-toolbar-row {
  padding: 0 15px 0 5px;
}

.header-icons {
  color: var(--on-surface);
}

.moderation-enabled {
  color: var(--on-surface);
  margin-left: 5px;
  font-size: medium;
  font-weight: bold;
}

.header-content-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;

  > button {
    background-color: var(--background);
    color: var(--on-background);
  }
}

.topic-cloud-btns {
  > ars-col button {
    margin-right: 0.75em;
    cursor: default;
    width: auto;

    &:hover, &:focus {
      border: none;
      cursor: default;
    }
  }

  > * {
    overflow: hidden !important;
    color: var(--on-surface);
  }
}

.comment_tag-icon {
  height: 18px !important;
}

.sessions {
}

h2 {
  font-size: 14px !important;
}

.header-slogan-desktop {
  margin-left: 50px;
  font-size: unset !important;
  letter-spacing: 1px;
  color: var(--primary);
}

.header-slogan-desktop-safari {
  margin-left: 150px;
  font-size: unset !important;
  letter-spacing: 1px;
  color: var(--primary);
}

.header-slogan-mobile {
  margin-right: 7px;
  letter-spacing: 1px;
  color: var(--primary);
}

.header-slogan-mobile-safari {
  margin-left: 70px;
  letter-spacing: 1px;
  color: var(--primary);
}

.label-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-button {
  padding: 0 5px 0 5px;
}

button:hover {
  outline: 3px solid var(--secondary);
}

svg {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

.question-focus-btn {
  background-color: var(--surface);
  color: var(--primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  * {
    color: var(--primary);
  }
}

.question-focus-btn-txt {
  padding-left: 10px;
}

.color-warn {
  color: var(--red) !important;
}

.beamer-icon {
  transform: scale(1.4);
  margin-right: 10px;
}

.mat-menu-inner-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  color: var(--on-background);
}

.mat-menu-inner-box {
  background-color: var(--primary-variant);
  border-radius: 5px;

  > ::ng-deep button, ::ng-deep ars-mat-menu-item > button {
    background-color: transparent !important;

    &:hover {
      color: var(--on-secondary) !important;
      background-color: var(--secondary) !important;

      ::ng-deep * {
        color: var(--on-secondary) !important;
      }
    }
  }
}

h1 {
  color: var(--red);
}

::ng-deep #cdk-overlay-0 .mat-menu-content > button:hover mat-icon {
  color: white !important;
  background-color: gray !important;
}

.userActivityIcon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: -5px;
  background-color: var(--primary);
  -webkit-mask-image: url("../../../../assets/icons/activity.svg");
  mask-image: url("../../../../assets/icons/activity.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
}

.userActivityTxt {
  display: inline-block;
  color: var(--primary);
  margin-left: 5px;
  font-size: 14px;
}

.focus_button {
  min-height: 28px;
  font-size: 14px;
  color: var(--on-surface);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--secondary);
}
