.weekday-chip {
  background-color: var(--primary);
  color: var(--on-primary);

  &.active {
    background-color: var(--secondary);
    color: var(--on-secondary);
  }

  &.selected {
    background-color: var(--surface);
    color: var(--on-surface);
  }
}

.notification-time-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  > * {
    margin: auto 0;
  }

  .primary-btn {
    background-color: var(--primary);
    color: var(--on-primary);
    width: 100%;
    margin-top: 10px;
  }

  .secondary-btn {
    background-color: var(--secondary);
    color: var(--on-secondary);
    width: 100%;
    margin-top: 10px;
  }
}
