/*
Styling for tag selection
 */

label[for='tagSelect'] {
  margin-left: 12px;
}

.tag-btn {
  float: right;
}

.anchor-wrp {
  width: calc(100% - 200px);
  display: inline-block;
  height: 0;
  position: relative;
  left: 0;
  top: 0;
}

/*
Styling for language select
 */

.select-list {
  width: 18px;
  margin-left: 12px;
}

/*
Styling for tag selection and language selection
 */

:host ::ng-deep {
  .mat-select-arrow-wrapper .mat-select-arrow {
    color: var(--on-surface);
  }

  .mat-select-value {
    width: auto !important;
  }

  .mat-select-value-text {
    color: var(--on-surface);
    caret-color: var(--on-surface);
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: var(--primary);
  }

  .mat-select-panel {
    background: var(--dialog);
  }
}

.mat-option {
  color: var(--on-surface);
}

.action-button-container {
  @media screen and (max-width: 500px) {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

.dialog-button {
  background-color: var(--green);
  color: var(--black);
  margin-top: 1rem;

  .mat-icon {
    font-size: 18px;
    margin-top: 3px;
  }
}
