<mat-dialog-content>

  <h3>{{'content.tag-cloud-questions-title' | translate}}</h3>

  <span *ngIf="isTopicRequirementActive">
    <mat-icon [inline]="true"
              style="color: var(--red) !important; font-size: x-large; padding-right: 10px;">
      tag
    </mat-icon>
    {{'header.overview-admin-config-enabled' | translate}}
  </span>

  <mat-radio-group [(ngModel)]="continueFilter"
                   aria-label="Select an option">
    <mat-radio-button checked="true"
                      value="continueWithAll">
      <div class="elementRow">
        <div class="elementText"
             *ngIf="isMobile()">{{'content.tag-cloud-questions-all-short' | translate}}</div>
        <div class="elementText"
             *ngIf="!isMobile()">{{'content.tag-cloud-questions-all' | translate}}</div>
        <div class="elementIcons"
             *ngIf="allComments">
          <mat-icon [inline]="true"
                    matTooltip="{{'header.overview-question-tooltip' | translate}}">comment
          </mat-icon>
          {{allComments.comments}}
          <mat-icon [inline]="true"
                    matTooltip="{{'header.overview-questioners-tooltip' | translate}}">person
          </mat-icon>
          {{allComments.users}}
          <mat-icon
                    class="comment_tag-icon"
                    matTooltip="{{'header.overview-keywords-tooltip' | translate}}">tag</mat-icon>
          {{allComments.keywords}}
        </div>
      </div>
    </mat-radio-button>
    <mat-radio-button value="continueWithCurr"
                      *ngIf="!disableCurrentFiltersOptions">
      <div class="elementRow">
        <div class="elementText">{{'content.tag-cloud-questions-current-filtered' | translate}}</div>
        <div class="elementIcons"
             *ngIf="filteredComments">
          <mat-icon [inline]="true"
                    matTooltip="{{'header.overview-question-tooltip' | translate}}">comment
          </mat-icon>
          {{filteredComments.comments}}
          <mat-icon [inline]="true"
                    matTooltip="{{'header.overview-questioners-tooltip' | translate}}">person
          </mat-icon>
          {{filteredComments.users}}
          <mat-icon
                    class="comment_tag-icon"
                    matTooltip="{{'header.overview-keywords-tooltip' | translate}}">tag</mat-icon>
          {{filteredComments.keywords}}
        </div>
      </div>
    </mat-radio-button>
    <mat-radio-button value="continueWithAllFromNow">
      <span *ngIf="isMobile()">{{'content.tag-cloud-questions-from-now-short' | translate}}</span>
      <span *ngIf="!isMobile()">{{'content.tag-cloud-questions-from-now' | translate}}</span>
    </mat-radio-button>
  </mat-radio-group>

  <mat-card *ngIf="hasNoKeywords"
            class="noKeywords">
    <p>{{'topic-cloud-filter.info-no-keywords' | translate}}</p>
    <button mat-flat-button
            type="button"
            class="mat-flat-button secondary-confirm-button"
            (click)="onKeywordRefreshClick()">
      {{'topic-cloud-filter.label-refresh-keywords-start' | translate}}
    </button>
  </mat-card>

  <app-worker-dialog [inlined]="true"></app-worker-dialog>

  <ars-row ars-flex-box
           class="action-button-container">
    <ars-col>
      <button
        mat-flat-button
        class="help-button"
        (click)="openHelp()">
        <mat-icon>question_mark</mat-icon>
        {{ 'explanation.label' | translate}}

      </button>
    </ars-col>
    <ars-col>
      <app-dialog-action-buttons
        buttonsLabelSection="content"
        confirmButtonLabel="tag-cloud-create"
        buttonIcon="tag"
        [spacing]="false"
        [cancelButtonClickAction]="cancelButtonActionCallback()"
        [confirmButtonClickAction]="confirmButtonActionCallback()">
      </app-dialog-action-buttons>
    </ars-col>
  </ars-row>

</mat-dialog-content>
