<h1 tabindex="0" mat-dialog-title>{{ 'introductions.brainstorming-title' | translate }} </h1>

<mat-dialog-content tabindex="0">
  <app-introduction-brainstorming-en *ngIf="languageService.currentLanguage() === 'en'"></app-introduction-brainstorming-en>
  <app-introduction-brainstorming-de *ngIf="languageService.currentLanguage() === 'de'"></app-introduction-brainstorming-de>
</mat-dialog-content>

<app-dialog-action-buttons
  confirmButtonLabel="cancel"
  buttonsLabelSection="introductions"
  [confirmButtonClickAction]="onClose.bind(this)">
</app-dialog-action-buttons>
