<app-mat-spinner-overlay *ngIf="isLoading || isURLLoading" overlay="true"></app-mat-spinner-overlay>
<div *ngIf="!isURLLoading" class="container">
  <iframe class="responsive-iframe"
          title="antworte.jetzt"
          [src]="urlSafe"
          (load)="isLoading = false"
          (error)="isLoading = false">
  </iframe>
</div>
