<div data-nosnippet>
  <p>
    The development of »frag.jetzt« was funded by the State of Hessen as part of a
    <a href="https://www.hessenhub.de/projekt/"
       class="info"
       target="_blank">university network project<span>Opens a new tab</span></a>.
  </p>

  <a href="https://www.digll-hessen.de/de"
     class="info"
     target="_blank">
    <img src="/assets/images/HMWK.webp"
         alt="HMWK-Logo"
         width="150"
         height="64">
    <span>Opens a new tab</span>
  </a>

  <h2>
    Accessibility Statement
  </h2>

  <p>
    »frag.jetzt« is committed to ensuring digital accessibility for people with disabilities.
    We are continually improving the user experience for everyone, and applying the relevant accessibility standards.
    We particularly address visually impaired and blind users of »frag.jetzt«.
  </p>

  <h2>
    Conformance status
  </h2>

  <p>
    The
    <a class="info"
       href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guide&shy;lines<span>Opens a new tab</span></a>
    (WCAG)
    defines requirements for designers and developers to improve accessibility for people with disabilities.
    Three levels of conformance are distinguished: Level A, Level AA, and Level AAA. »frag.jetzt«
    is partially compliant with WCAG 2.1 level AA. Partially compliant means that
    some parts of the content do not fully conform to the accessibility standard.
  </p>

  <h2>Feedback</h2>

  <p>
    We welcome your feedback on the accessibility of »frag.jetzt«.
    Please let us know if you encounter accessibility barriers on
    »frag.jetzt«:
  </p>

  <a class="info"
     href="tel:+496413092450">+49 641 309-2450 <span>Calls the number</span></a>
  <br>
  <a class="info"
     href="mailto:klaus.quibeldey-cirkel@transmit.de">
    klaus.quibeldey-cirkel@transmit.de <span>Opens your mail program</span>
  </a>

  <h2>Contact</h2>

  <p>
    The operation of the
    <a class="info"
       href="https://github.com/thm-projects/frag.jetzt"
       target="_blank">open-source<span>Opens a new tab</span></a>
    web application
    »frag.jetzt« is a free service
    (»Software as a Service«) of the TransMIT GmbH, project division for mobile applications.<br>
    <br>
    Kerkrader Straße 3<br>
    D-35394 Gießen<br>
    Germany<br>
    <br>
    c/o THM<br>
    Department of Mathematics, Natural Sciences and Informatics<br>
    Prof. Dr. Klaus Quibeldey-Cirkel<br>
    Professorship for Software Engineering<br>
    <br>
    Wiesenstraße 14<br>
    D-35390 Gießen<br>
    Germany<br>
    <br>
    <a class="info"
       href="tel:+496413092450">+49 641 309-2450 <span>Calls the number</span></a>
    <br>
    <a class="info"
       href="mailto:klaus.quibeldey-cirkel@transmit.de">klaus.quibeldey-cirkel@transmit.de <span>Opens your mail program</span></a>
    <br>
    <br>
    Company headquarters: Gießen<br>
    Website:
    <a class="info"
       href="https://transmit.de">transmit.de <span>Opens a new tab</span></a>
    <br>
    Legal form: GmbH<br>
    Local court: Gießen HRB 3036<br>
    German VAT no.: DE 188 685 037<br>
    <br>
    »frag.jetzt« is operated on a
    <a href="https://tools.keycdn.com/geo?host=frag.jetzt"
       class="info">Server in Germany<span>Opens a new tab</span></a>.
    <br>
    <br>
  </p>
</div>
