// Expression Controller
$velocity-curve: cubic-bezier(1, 0, 0, 1);
$keyframe-delay: 0.1;
$keyframe-delay-g: 1;
$animation-1-t: 3;
$animation-2-t: 3;
$animation-g-t-span: 0;
$animation-1-t-span: 0.01;
$animation-2-t-span: 0.01;

$animation-1-t-span-sum: $animation-g-t-span + $animation-1-t-span;
$animation-2-t-span-sum: $animation-g-t-span + $animation-2-t-span;
$animation-1: keyframes_animation1 ($animation-1-t)+s $velocity-curve both;
$animation-2: keyframes_animation2 ($animation-2-t)+s $velocity-curve both;

$shadow-on: 1px 3px 0 rgba(0, 0, 0, 0.3), 1px 13px 5px rgba(0, 0, 0, 0.3);
$shadow-off: none;

:host {

  .screen {
    transition: all 1s ease;
  }

  .background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--questionwall-intro-background);
    background-image: url('~assets/background/Auditorium-original-bw.webp');
    background-position: center 70%;
    background-size: 90% auto;
    background-repeat: no-repeat;
  }

  .particle {
    &-container {
      width: 500px;
      height: 500px;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &-element {
      width: 0px;
      height: 0px;
      color: var(--questionwall-intro-primary);
      position: absolute;
    }
  }

  .centered {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
  }

  .qw {
    &-text {
      &-1 {
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        font-weight: normal;
        font-style: normal;

        span {
          color: var(--questionwall-intro-secondary);
        }
      }

      &-2 {
        font-family: 'Roboto', sans-serif;
        font-size: 70px;
        font-weight: 500;
        font-style: normal;
        color: var(--questionwall-intro-primary);
      }
    }

    &-animation {
      &-1 {
        position: relative;

        > span {
          position: relative;
          opacity: 0;
          animation: $animation-1;
        }

        @for $i from 1 through 100 {
          :nth-child(#{$i}n) {
            animation-delay: #{$i * $animation-1-t-span-sum + $keyframe-delay-g}s;
          }
        }
      }

      &-2 {
        position: relative;

        > span {
          position: relative;
          opacity: 0;
          animation: $animation-2;
        }

        @for $i from 1 through 100 {
          :nth-child(#{$i}n) {
            animation-delay: #{$i * $animation-2-t-span-sum + $keyframe-delay + $keyframe-delay-g}s;
          }
        }
      }
    }
  }

  @keyframes keyframes_animation1 {
    0% {
      opacity: 0;
      padding: 5px;
      text-shadow: $shadow-off;
    }
    10% {
      opacity: 1;
      padding: 0px;
      text-shadow: $shadow-off;
    }
    90% {
      opacity: 1;
      padding: 0px;
      text-shadow: $shadow-off;
    }
    100% {
      opacity: 0;
      padding: 0px;
      text-shadow: $shadow-off;
    }
  }
  @keyframes keyframes_animation2 {
    0% {
      opacity: 0;
      text-shadow: $shadow-off;
    }
    10% {
      opacity: 1;
      text-shadow: $shadow-off;
    }
    90% {
      opacity: 1;
      text-shadow: $shadow-off;
    }
    100% {
      opacity: 0;
      text-shadow: $shadow-off;
    }
  }
}
