.outer {
  width: 80%;
  max-width: 300px;
  background-color: var(--background);
  box-shadow: none;
}

.main-heading-primary {
  display: block;
  font-size: 200%;
  font-weight: 200;
  text-align: center;
  letter-spacing: 7px;
  color: var(--primary);
  animation: moveInLeft 3s ease;
  margin-bottom: 30px;
}

.main-container {
  height: 100%;
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
}

.main-heading-secondary {
  display: block;
  margin-top: 4vh;
  font-weight: normal;
  text-align: center;
  color: var(--secondary);
  animation: moveInRight 3.0s ease;
}

.feedback {
  display: block;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: var(--on-background);

  > a {
    padding: 5px;
    display: inline;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

mat-card-header {
  justify-content: center;
}

.screenshot {
  display: block;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  outline: none;
}
