mat-form-field.input-block {
  display: block;
}

.mat-fab .mat-button-wrapper {
  padding: 0!important;
}

.mat-dialog-container {
  background-color: var(--dialog);
}

.mat-tab-header {
  border-bottom-style: none!important;
}

.snackbar {
  background-color: var(--secondary);
  color: var(--on-secondary);
  margin-bottom: 50px !important;
}

.snackbar-valid {
  background-color: green;
  color: var(--white);
  margin-bottom: 50px !important;
}

.snackbar-invalid {
  background-color: var(--red);
  color: var(--white);
  margin-bottom: 50px !important;
}

.snackbar.important {
  background-color: var(--red);
  color: var(--white);
  font-weight: bolder;
  margin-bottom: 50px !important;
}

.snackbar button {
  background-color: var(--primary);
  color: var(--on-primary) !important;
}

.mat-input-element {
  caret-color: var(--on-surface);
}
