:host {
  .align-center-y {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .container {
    border-radius: 20px;
    background-color: var(--surface);
    box-sizing: border-box;
    padding: 5px 20px;
  }

  .timestamp {
    font-weight: normal;
  }

  p {
    padding: 0;
    margin: 0;
  }

  ::ng-deep {
    .images img {
      max-width: 100% !important;
    }

    .mat-checkbox-frame {
      border-color: var(--on-surface);
    }
  }
}
