@import '../../../../styles';

mat-card {
  width: 100%;
  max-width: 800px;
  min-height: auto;
  padding: 0 10% 0 10%;
  background-color: var(--surface) !important;
}

mat-card-content > :first-child {
  margin: 3% 0 3% 0;
}

#room-edit-description {
  margin-bottom: 0;
}

.mat-icon-button {
  width: 100%;
  height: 100%;
  border-radius: 0;
  color: var(--primary) !important;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2)
  }
}

.corner-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  line-height: 100%;
}

.main-icon {
  font-size: 80px;
  height: 80px;
  width: 80px;
  line-height: 100% !important;
}

.smallerIcon {
  font-size: 60px;
  height: 60px;
  width: 60px;
  line-height: 100% !important;
}

.room-short-id {
  font-size: 14px;
  color: var(--on-surface)!important;
  margin-top: -8px;
}

mat-grid-list {
  margin: 0;
}

.second {
  margin-bottom: 20px !important;
}


mat-card-header {
  margin: 0;
}

mat-card-title {
  color: var(--on-surface) !important;
}

mat-card-subtitle {
  color: var(--on-surface) !important;
}

mat-grid-tile {
  height: 70% !important;
  padding: 10% 0 !important;
}

.mat-figure {
  margin: 20px !important;
}

mat-expansion-panel {
  background-color: var(--surface) !important;
  color: var(--on-surface) !important;
  min-width: 200px;
  hyphens: auto;
}

.subtitle-btn {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  color: var(--primary);
}

.gavel {
  margin: 0.9em 0.25em 0 0;
  color: var(--red);
}

.question-button-div {
  margin: 10% 0 10% 0;
}

markdown {
  color: var(--on-surface);
  margin: 0 3% 0 3% !important;
}

::ng-deep .mat-menu-panel {
  background-color: var(--dialog);
  color: var(--on-dialog);
}

::ng-deep .mat-menu-item {
  background-color: var(--dialog);
  color: var(--on-dialog);
}

.mat-menu-item .mat-icon {
  background-color: var(--dialog);
  color: var(--on-dialog);
}

::ng-deep .mat-badge-content {
  background: var(--secondary);
  color: var(--on-secondary);
  font-size: 16px;
}

::ng-deep .mat-badge-medium .mat-badge-content {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.inline-icon-button {
  width: 40px;
  height: 40px;
  margin-top: 25px;
}

h3 {
  margin: 0;
  color: var(--on-surface) !important;
  font-size: 14px;
  font-weight: normal;
}

h2 {
  font-size: 16px !important;
  font-weight: normal;
  margin-top: 35px;
}

:host > div {
  margin-top: 5vh;
  min-height: calc(88vh - 115px) !important;
}
