input {
  color: var(--on-surface);
}

.placeholder {
  color: var(--on-surface);
  filter: opacity(0.6);
  font-style: italic;
}

.mat-form-field-label {
  color: var(--on-surface)!important;
}

.mat-form-field-underline {
  background-color: var(--on-surface)!important;
}

.mat-form-field-ripple {
  background-color: var(--on-surface)!important;
}

mat-form-field {
  color: var(--on-surface);
}

.count {
  color: var(--on-surface)!important;
}

.error {
  color: var(--red) !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

::ng-deep .mat-form-field .mat-form-field-infix {
  max-width: 500px;
}

