<div>

  <h2 tabindex="0"
      mat-dialog-title
      class="modal oldtypo-h2">{{ 'data-protection.title' | translate }}</h2>



  <mat-dialog-content tabindex="0">
    <app-data-protection-en *ngIf="languageService.currentLanguage() === 'en'"></app-data-protection-en>
    <app-data-protection-de *ngIf="languageService.currentLanguage() === 'de'"></app-data-protection-de>
  </mat-dialog-content>

  <app-dialog-action-buttons
    confirmButtonLabel="cancel"
    buttonsLabelSection="imprint"
    [confirmButtonClickAction]="buildDeclineActionCallback()">
  </app-dialog-action-buttons>

</div>

