h2 {
  text-align: center;
  font-size: 18px;
  padding-top: 25px;
}

p {
  hyphens: auto;
  padding-bottom: 10px;
  line-height: 1.5;
}

ol {
  padding-left: 1em;
  line-height: 1.5;
}

li {
  padding-bottom: 10px;
  line-height: 1.5;
}

iframe {
  width: 100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.screenshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 100%;
  height: auto;
  outline: none;
}

a {
  text-decoration: underline;
  hyphens: manual;
}
