.dialog-action-buttons:not(.no-spacing), .dialog-action-buttons .buttons {
  margin-top: 1rem;
}

.dialog-action-buttons .cancel-button {
  background-color: var(--cancel);
  color: var(--on-cancel);
  margin-left: 10px;
}

.primary-confirm-button {
  background-color: var(--primary);
  color: var(--on-primary);
}

.alert-confirm-button {
  background-color: var(--green);
  color: var(--black);
}

.dialog-action-buttons .cancel-button:focus {
  background: var(--cancel);
  color: var(--on-cancel);
  margin-left: 10px;
}

.dialog-action-buttons .primary-confirm-button:focus {
  background: var(--primary);
  color: var(--on-primary);
}

.spinner-container {
  font-size: 14px;
  margin-top: -2px;
}
