footer {
  overflow-y: auto;
}

#footer-toolbar {
  background-color: var(--background);
  height: auto;
  padding: 5px 0;

  &:first-child {
    padding-left: 5px;
  }

  &:last-child {
    padding-right: 5px;
  }
}

.mat-button {
  min-height: 28px;
  font-size: 12px;
  color: var(--on-surface);
}

button:hover {
  outline: 3px solid var(--secondary);
}

mat-icon {
  margin-right: 2%;
}

.purple {
  color: var(--purple);
}

.blue {
  color: var(--blue);
}

.dark {
  color: var(--black);
}

.default {
  color: var(--light-green);
}

.color-button {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.color-icon {
  position: relative;
  left: -10px;
  font-size: 45px;
  height: 45px;
  width: 45px;
  line-height: 100% !important;
}

::ng-deep .color-menu {
  padding: 0 8px 0 8px;
}

::ng-deep .mat-menu-panel {
  padding: 0 10px !important;
  width: 100% !important;
  background-color: var(--dialog);
  color: var(--on-dialog);
  min-width: unset !important;
}

::ng-deep .mat-menu-item {
  background-color: var(--dialog);
  color: var(--on-dialog);
}

.check {
  font-size: 25px;
  height: 25px;
  width: 25px;
  line-height: 100% !important;
  position: absolute;
  top: calc(50% + 1px);
  left: calc(50% + 1px);
  transform: translate(-50%, -50%);
  color: white;
}

::ng-deep .color-menu {
  width: 170px !important;
}

@media (max-width: 500px) {
  .themeMenuWrp {
    width: calc(100% - 40px);
    height: 215px;
    left: 12px;
    bottom: 35px;
    padding: 8px;
  }
}

::ng-deep .color-menu button {
  width: 100%;
  outline: none;
  background-color: transparent;
  float: left;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

::ng-deep .color-menu button:last-child {
  margin-bottom: 10px;
}

.btnContent {
  width: 100%;
  height: 50px;
  float: left;
  margin-bottom: 5px;
}

.btnContent > .btnColorIcon {
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px;
  padding: 0px;
  border-radius: 20px;
}

.checked {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  float: left;
  border-radius: 100%;
  transition: all 0.1s;
  border-color: var(--red) !important;
  border-width: thick !important;

  &.checked_true {
    transform: scale(1);
    opacity: 1;
    background-color: transparent;

    > .theme-icon {
      display: none;
    }

    > .theme-icon-checked {
      opacity: 1;
    }
  }

  &.checked_false {
    opacity: 1;

    > .theme-icon {
      opacity: 1;
    }

    > .theme-icon-checked {
      display: none;
    }
  }

  > mat-icon {
    float: left;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    border-radius: 100%;
  }
}

.btnContent > .btnAppend {
  width: calc(100% - 50px);
  float: right;
  position: relative;
  top: -10px;
}

.btnContent > .btnAppend > .title {
  width: 100%;
  height: 15px;
  float: left;
  margin-bottom: 5px;
}

.btnContent > .btnAppend > .title:last-child {
  margin-bottom: 0px;
}

.title > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  padding: 0px;
  margin-left: 12px;
  margin-top: 10px;
}

.title_bold {
  font-weight: 500;
}
